<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.mlfs.corp.otp</string>
	<key>category</key>
	<string>MLFS</string>
	<key>connections</key>
	<dict>
		<key>0CF76333-BDFF-4132-88FB-2FBB23F88454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1817F5D4-7D78-4D36-AAE9-3DB72736DBDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC1A8D3B-D1C4-419F-AA03-A11587F294E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A9EEE5E-A715-4739-80EC-7AD64C7C68E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E3DF504D-AD30-4467-B0F4-880B34AD597A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>64214BDB-E065-4B35-A29E-8AA91D8F1D49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13156BE1-1556-41E6-A6CD-B6A6DB9DC0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61AB039D-7907-4A33-ACFA-C4A158D4DA4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1817F5D4-7D78-4D36-AAE9-3DB72736DBDA</key>
		<array/>
		<key>53772A28-46EA-43E4-9F52-8B255707C37F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5633A537-AF0E-43E6-B25C-ABF9B58AD678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>541A4E11-C97B-4E88-A291-A49BFDE5D69D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CF76333-BDFF-4132-88FB-2FBB23F88454</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E06FC9C-3BBF-4A1F-970D-97225C405F3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C984515-ECF1-4B30-9991-ED50F54A76FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E7AAB9D-A54F-4762-AAC9-3B9C1B95D203</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72CF9B77-5222-4D38-BE56-2EC0540CFE16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64214BDB-E065-4B35-A29E-8AA91D8F1D49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E800D09-582B-41F0-BE29-82C9F05B77C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68A6D293-EEDA-4D3F-A98F-B86ACBE4C857</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDAFECB2-8EB8-4350-9D10-1EBE0DB95156</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E7AAB9D-A54F-4762-AAC9-3B9C1B95D203</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Automatically paste to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B6BBDE1-0434-4C11-A5A6-30CB9B252A6F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show large type</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94992E3A-13B1-41F5-B150-354A29721979</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show QR code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72CF9B77-5222-4D38-BE56-2EC0540CFE16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>541A4E11-C97B-4E88-A291-A49BFDE5D69D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75F40964-7CB5-4857-8CE1-16BC97E86ACC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53772A28-46EA-43E4-9F52-8B255707C37F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94992E3A-13B1-41F5-B150-354A29721979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98F5B36D-1523-4540-86FB-303FC697BC0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98F5B36D-1523-4540-86FB-303FC697BC0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19B95A03-0F67-4287-A78D-081425983A00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B6BBDE1-0434-4C11-A5A6-30CB9B252A6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72CF9B77-5222-4D38-BE56-2EC0540CFE16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B447C4C7-D00C-4476-A14C-A26D3E17AA39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67B4149-714B-4133-9DD6-7EBA8260D157</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C67B4149-714B-4133-9DD6-7EBA8260D157</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13156BE1-1556-41E6-A6CD-B6A6DB9DC0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4677655-6E68-442A-A607-ED70129CE006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E06FC9C-3BBF-4A1F-970D-97225C405F3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDAFECB2-8EB8-4350-9D10-1EBE0DB95156</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75F40964-7CB5-4857-8CE1-16BC97E86ACC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BD7BFDCC-28C9-41C2-A166-1B50B3EB098A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B447C4C7-D00C-4476-A14C-A26D3E17AA39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>076C5249-ED4B-4F39-9AFC-F719624466B1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4677655-6E68-442A-A607-ED70129CE006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>797AFBE0-E5BA-43D5-9999-75322CD1C18A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72CF9B77-5222-4D38-BE56-2EC0540CFE16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Rosen</string>
	<key>description</key>
	<string>Manage virtual MFA devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OTP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application id "com.runningwithcrayons.Alfred" to set configuration "db" to value q &amp; "otp.db" in workflow "org.mlfs.corp.otp"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>53772A28-46EA-43E4-9F52-8B255707C37F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	return posix path of (choose folder with prompt "Choose folder to store OTP database")
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>75F40964-7CB5-4857-8CE1-16BC97E86ACC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>org.mlfs.corp.otp.create</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5633A537-AF0E-43E6-B25C-ABF9B58AD678</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sqlite3 ${db}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>init_otp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>org.mlfs.corp.otp.create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B447C4C7-D00C-4476-A14C-A26D3E17AA39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:db}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>13156BE1-1556-41E6-A6CD-B6A6DB9DC0E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>org.mlfs.corp.otp.add</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>61AB039D-7907-4A33-ACFA-C4A158D4DA4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C67B4149-714B-4133-9DD6-7EBA8260D157</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>config</string>
						<key>outputlabel</key>
						<string>config</string>
						<key>uid</key>
						<string>BD7BFDCC-28C9-41C2-A166-1B50B3EB098A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>new</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>076C5249-ED4B-4F39-9AFC-F719624466B1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>797AFBE0-E5BA-43D5-9999-75322CD1C18A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DDAFECB2-8EB8-4350-9D10-1EBE0DB95156</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>global Issuer, Account, Username, SecretKey

set Issuer to ""
set Account to ""
set Username to ""
set SecretKey to ""

on decodeCharacterHexString(theCharacters)
	copy theCharacters to {theIdentifyingCharacter, theMultiplierCharacter, theRemainderCharacter}
	set theHexList to "123456789ABCDEF"
	if theMultiplierCharacter is in "ABCDEF" then
		set theMultiplierAmount to offset of theMultiplierCharacter in theHexList
	else
		set theMultiplierAmount to theMultiplierCharacter as integer
	end if
	if theRemainderCharacter is in "ABCDEF" then
		set theRemainderAmount to offset of theRemainderCharacter in theHexList
	else
		set theRemainderAmount to theRemainderCharacter as integer
	end if
	set theASCIINumber to (theMultiplierAmount * 16) + theRemainderAmount
	return (ASCII character theASCIINumber)
end decodeCharacterHexString

on decodeText(theText)
	set flagA to false
	set flagB to false
	set theTempCharacter to ""
	set theCharacterList to {}
	repeat with theCurrentCharacter in theText
		set theCurrentCharacter to contents of theCurrentCharacter
		if theCurrentCharacter is "%" then
			set flagA to true
		else if flagA is true then
			set theTempCharacter to theCurrentCharacter
			set flagA to false
			set flagB to true
		else if flagB is true then
			set end of theCharacterList to decodeCharacterHexString(("%" &amp; theTempCharacter &amp; theCurrentCharacter) as string)
			set theTempCharacter to ""
			set flagA to false
			set flagB to false
		else
			set end of theCharacterList to theCurrentCharacter
		end if
	end repeat
	return theCharacterList as string
end decodeText

on splitURI(uri)
	set tid to AppleScript's text item delimiters
	
	set AppleScript's text item delimiters to ":"
	set otp to fourth text item of uri
	
	set AppleScript's text item delimiters to "?"
	set Account to first text item of otp
	set args to last text item of otp
	
	set AppleScript's text item delimiters to "&amp;"
	set SecretKey to first text item of args
	set Issuer to last text item of args
	
	set AppleScript's text item delimiters to "="
	set Issuer to last text item of Issuer
	set SecretKey to last text item of SecretKey
	
	set AppleScript's text item delimiters to tid
	
	set Issuer to decodeText(Issuer)
	set Account to decodeText(Account)
	set SecretKey to decodeText(SecretKey)
end splitURI


# Main
set T to "Add new MFA device"
set B to {"OK", "Cancel"}

set d to display dialog "Enter Issuer or import QR code" buttons B &amp; "Import" default answer Issuer default button "OK" with title T
set Issuer to text returned of d

repeat while button returned of d = "Import" or Issuer = ""
	set f to POSIX path of (choose file of type {"public.image"} with showing package contents)
	set uri to do shell script "/usr/local/bin/zbarimg -q " &amp; f
	splitURI(uri)
	
	set d to display dialog "Enter Issuer or import QR code" buttons B &amp; "Import" default answer Issuer default button "OK" with title T
	set Issuer to text returned of d
end repeat

set Account to text returned of (display dialog "Enter Account" buttons B default answer Account default button "OK" with title T)
repeat while Account = ""
	set Account to text returned of (display dialog "Enter Account" buttons B default answer Account default button "OK" with title T)
end repeat

set Username to text returned of (display dialog "Enter Username (optional)" buttons B default answer Username default button "OK" with title T)

repeat while SecretKey = ""
	set SecretKey to text returned of (display dialog "Enter Secret Key" buttons B default answer SecretKey default button "OK" with title T)
end repeat

set otp to "otpauth://totp/" &amp; Issuer &amp; ":" &amp; Account
if Username is not equal to "" then
	set otp to otp &amp; " (" &amp; Username &amp; ")"
end if
set otp to otp &amp; "?secret=" &amp; SecretKey &amp; "&amp;issuer=" &amp; Issuer

set db to system attribute "db"

do shell script "sqlite3 " &amp; db &amp; " \"insert into totp (issuer, account, username, secret_key) values ('" &amp; Issuer &amp; "','" &amp; Account &amp; "','" &amp; Username &amp; "','" &amp; SecretKey &amp; "')\""
do shell script "sqlite3 " &amp; db &amp; " \"select item from totp where secret_key = '" &amp; SecretKey &amp; "'\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>add_otp.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>org.mlfs.corp.otp.add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4677655-6E68-442A-A607-ED70129CE006</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>org.mlfs.corp.otp.get</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3C984515-ECF1-4B30-9991-ED50F54A76FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Item added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5E06FC9C-3BBF-4A1F-970D-97225C405F3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>otp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching virtual MFA devices</string>
				<key>script</key>
				<string>ITEMS=$(sqlite3 ${db} 'select alfred from totp;')

if [ "${ITEMS}" == "" ]; then
	ITEMS=',{ "title": "Create new OTP database", "arg": "new", "subtitle": "'${db}'" }'
fi

echo '{ "items": [ {}'

echo ${ITEMS}

echo '] }'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list_otp.sh</string>
				<key>subtext</key>
				<string>Manage virtual MFA devices</string>
				<key>title</key>
				<string>OTP</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>68A6D293-EEDA-4D3F-A98F-B86ACBE4C857</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1817F5D4-7D78-4D36-AAE9-3DB72736DBDA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>control</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5E7AAB9D-A54F-4762-AAC9-3B9C1B95D203</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

export ITEM=$(sqlite3 ${db} "select item from totp where secret_key = '${1}'")

oathtool -b --totp $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_otp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>org.mlfs.corp.otp.get</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72CF9B77-5222-4D38-BE56-2EC0540CFE16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mod}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>control</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>CC1A8D3B-D1C4-419F-AA03-A11587F294E8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mod}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>shift</string>
						<key>outputlabel</key>
						<string>large</string>
						<key>uid</key>
						<string>E3DF504D-AD30-4467-B0F4-880B34AD597A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0CF76333-BDFF-4132-88FB-2FBB23F88454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>541A4E11-C97B-4E88-A291-A49BFDE5D69D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5A9EEE5E-A715-4739-80EC-7AD64C7C68E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>shift</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9B6BBDE1-0434-4C11-A5A6-30CB9B252A6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

KEY=$(sqlite3 ${db} "select replace(otpauth,' ','%20') from totp where secret_key = '${1}'")
ITEM=$(sqlite3 ${db} "select item from totp where secret_key = '${1}'")

echo ${ITEM}
echo
qrencode -o - -t asciii "${KEY}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>show_qr.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98F5B36D-1523-4540-86FB-303FC697BC0E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>2</integer>
				<key>backgroundcolor</key>
				<string>#000000FF</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Andale Mono</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>19B95A03-0F67-4287-A78D-081425983A00</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4E800D09-582B-41F0-BE29-82C9F05B77C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>64214BDB-E065-4B35-A29E-8AA91D8F1D49</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>shift</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94992E3A-13B1-41F5-B150-354A29721979</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Like Authy, FreeOTP, Okta Verify, etc., but using your Mac and a SQLite database.


YOU MUST PROTECT THE DATABASE

The data stored is as sensitive as your passwords.  If someone gains access to your database they can create copies of every virtual MFA device you have stored.


There is an additional field, Username, useful when you have multiple logins to the same account.  Eg., an AWS account where you have separate MFA devices for the root account and different IAM users.

    Shift:      Show the code using Large Type
    Option:     Show the MFA device's QR code
    Control:    Automatically paste the code to the frontmost app

You can scan the QR code into your favorite phone app.

brew install oath-toolkit qrencode zbar</string>
	<key>uidata</key>
	<dict>
		<key>0CF76333-BDFF-4132-88FB-2FBB23F88454</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>13156BE1-1556-41E6-A6CD-B6A6DB9DC0E1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>1817F5D4-7D78-4D36-AAE9-3DB72736DBDA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>19B95A03-0F67-4287-A78D-081425983A00</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>3C984515-ECF1-4B30-9991-ED50F54A76FD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>4E800D09-582B-41F0-BE29-82C9F05B77C6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>53772A28-46EA-43E4-9F52-8B255707C37F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>set {var:db}</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>541A4E11-C97B-4E88-A291-A49BFDE5D69D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>5633A537-AF0E-43E6-B25C-ABF9B58AD678</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5A9EEE5E-A715-4739-80EC-7AD64C7C68E5</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>5E06FC9C-3BBF-4A1F-970D-97225C405F3A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>5E7AAB9D-A54F-4762-AAC9-3B9C1B95D203</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>61AB039D-7907-4A33-ACFA-C4A158D4DA4A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>64214BDB-E065-4B35-A29E-8AA91D8F1D49</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>68A6D293-EEDA-4D3F-A98F-B86ACBE4C857</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>72CF9B77-5222-4D38-BE56-2EC0540CFE16</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>oathtool</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>75F40964-7CB5-4857-8CE1-16BC97E86ACC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>choose folder</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>94992E3A-13B1-41F5-B150-354A29721979</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>QR</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>98F5B36D-1523-4540-86FB-303FC697BC0E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>qrencode</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>9B6BBDE1-0434-4C11-A5A6-30CB9B252A6F</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Large</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>B447C4C7-D00C-4476-A14C-A26D3E17AA39</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create db</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C67B4149-714B-4133-9DD6-7EBA8260D157</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D4677655-6E68-442A-A607-ED70129CE006</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>add device</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>DDAFECB2-8EB8-4350-9D10-1EBE0DB95156</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>db</key>
		<string>/Users/ajr/Sync/otp.db</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>db</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ajrosen/Alfred</string>
</dict>
</plist>
