<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.mlfs.corp.myip</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>00AED139-5708-4A58-BDB4-2781284B5318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>996F8BF4-763A-48B4-80C4-34932405B59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>420F3326-83EE-4AF7-96CD-641AB3EAF777</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>996F8BF4-763A-48B4-80C4-34932405B59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5245A03A-D0A1-4F5E-B44E-B1BAF1A1BECC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC74970D-14D3-49E5-8B3A-F79FD154021C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>95D97ED3-36D1-4170-A53A-F296E9222CFB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7A43A8F-EC63-4CFA-BD26-ACBBA2CF43D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>622B9AA7-9683-46AE-9C0D-05409181679B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E683AA94-D289-45E7-8B71-D2D92E41B2B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CBDE250F-C2C0-4735-859F-ECF6A6C65B6B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB6541A5-700A-4BD4-80E0-5BF1F891CD76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59D2F6D0-E0B4-4450-80B0-3CAA2208868A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>996F8BF4-763A-48B4-80C4-34932405B59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>996F8BF4-763A-48B4-80C4-34932405B59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5245A03A-D0A1-4F5E-B44E-B1BAF1A1BECC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5167344-77F4-4888-BF01-A70D1640AE47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>420F3326-83EE-4AF7-96CD-641AB3EAF777</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show large type</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59D2F6D0-E0B4-4450-80B0-3CAA2208868A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>996F8BF4-763A-48B4-80C4-34932405B59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00AED139-5708-4A58-BDB4-2781284B5318</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to focused app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7A43A8F-EC63-4CFA-BD26-ACBBA2CF43D9</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Andy Rosen</string>
	<key>description</key>
	<string>Get external IP address</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>External IP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DC74970D-14D3-49E5-8B3A-F79FD154021C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F7A43A8F-EC63-4CFA-BD26-ACBBA2CF43D9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>shift</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>420F3326-83EE-4AF7-96CD-641AB3EAF777</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>cmd</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>59D2F6D0-E0B4-4450-80B0-3CAA2208868A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:modifier}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>shift</string>
						<key>outputlabel</key>
						<string>shift</string>
						<key>uid</key>
						<string>95D97ED3-36D1-4170-A53A-F296E9222CFB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:modifier}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cmd</string>
						<key>outputlabel</key>
						<string>cmd</string>
						<key>uid</key>
						<string>622B9AA7-9683-46AE-9C0D-05409181679B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:modifier}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ctrl</string>
						<key>outputlabel</key>
						<string>ctrl</string>
						<key>uid</key>
						<string>CBDE250F-C2C0-4735-859F-ECF6A6C65B6B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>none</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5245A03A-D0A1-4F5E-B44E-B1BAF1A1BECC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>myip</string>
				<key>subtext</key>
				<string>Shift: large / Cmd:  clipboard / Ctrl: paste</string>
				<key>text</key>
				<string>Get external IP address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D5167344-77F4-4888-BF01-A70D1640AE47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dig +short myip.opendns.com @resolver1.opendns.com | awk '{ print $1 }'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>996F8BF4-763A-48B4-80C4-34932405B59A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E683AA94-D289-45E7-8B71-D2D92E41B2B1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>ctrl</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>00AED139-5708-4A58-BDB4-2781284B5318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>External IP address</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB6541A5-700A-4BD4-80E0-5BF1F891CD76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fetch your external IP address by sending a DNS query to resolver1.opendns.com

Shift:	Show large type
Cmd:		Copy to clipboard
Control:	Copy to clipboard and paste to front most app

With no modifiers show the address in a notification</string>
	<key>uidata</key>
	<dict>
		<key>00AED139-5708-4A58-BDB4-2781284B5318</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Control</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>420F3326-83EE-4AF7-96CD-641AB3EAF777</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Shift</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>5245A03A-D0A1-4F5E-B44E-B1BAF1A1BECC</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>59D2F6D0-E0B4-4450-80B0-3CAA2208868A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Cmd</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>996F8BF4-763A-48B4-80C4-34932405B59A</key>
		<dict>
			<key>note</key>
			<string>Query OpenDNS</string>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>D5167344-77F4-4888-BF01-A70D1640AE47</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>DB6541A5-700A-4BD4-80E0-5BF1F891CD76</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>DC74970D-14D3-49E5-8B3A-F79FD154021C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E683AA94-D289-45E7-8B71-D2D92E41B2B1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>and paste</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F7A43A8F-EC63-4CFA-BD26-ACBBA2CF43D9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ajrosen/Alfred</string>
</dict>
</plist>
